* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #3b3b3b;
    color: #f6f4f3;
}


/* Styles for the navbar */
a {
    text-decoration: none;
}

nav {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
}

.link a::after {
    content: " ";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #af9bb6;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 80%;
}

.link :hover {
    color: rgba(246, 244, 243, 0.7)
}

/* Styles for the Containers */
.container {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    max-width: 75%;
    border-radius: 30px;
    background-color: #191716;
}

section {
    font-size: 2.2rem;
    text-align: center;
}

.section-container {
    display: flex;
}

.section-left, .section-right {
    max-width: 50%;
    width: 50%;
}


.title {
    width: 50%;
    padding: 1rem;
    font-size: 24px;
    margin: auto;
}

.description {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 1rem;
}

.technologies-used {
    text-align: center;
}

.project-image img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 1rem auto;
    width: 85%;
    border-radius: 15px;
}

.social-media-img {
    width: 60px;
    height: 60px;
    background-size: contain;
    transition: transform 0.3 ease;
}

.social-media-button {
    background: none;
    cursor: pointer;
    margin: 3rem;
}

.github {
    background: url("/Images/github-mark-white.png") no-repeat center center;
    background-size: contain;
}

.social-media-button:hover .github {
    background: url("/Images/github-mark.png") no-repeat center center;
    background-size: contain;
}

.linkedin {
    background: url("/Images/ContactImages/linkedin-logo.png") no-repeat center center;
    background-size: contain;
}

.social-media-button:hover .linkedin {
    background: url("/Images/ContactImages/linkedin-hover.png") no-repeat center center;
    background-size: contain;
}

.skills-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.skills-elements li {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
}

.contact-left, .contact-mid, .contact-right {
    max-width: 33%;
    width: 33%;
}

.contact-img img {
    width: 60px;
    height: 60px;
    background: none;
    cursor: pointer;
}

.contact-img figcaption {
    font-size: 1rem;
}



/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .section-left, .section-right, .contact-left, .contact-mid, .contact-right {
        max-width: 100%;
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .project-image img {
        width: 100%;
    }

    .skills-elements {
        grid-template-columns: 1fr;
    }

    .nav-links {
        gap: 1rem;
    }
}