* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #191716;
    color: #f6f4f3;
}


/* Styles for the navbar */
a {
    text-decoration: none;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
}

.link a::after {
    content: " ";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #af9bb6;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 80%;
}

.link :hover {
    color: rgba(246, 244, 243, 0.7)
}

/* Styles for the Containers */
.container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

section {
    font-size: 2.2rem;
}

.section-container {
    padding: 2rem 0;
    display: flex;
}

.section-left, .section-right {
    max-width: 50%;
    width: 50%;
}

.title {
    width: 50%;
    padding: 1rem;
    font-size: 24px;
}

.description {
    font-size: 1.2rem;
    text-align: left;
}


